<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Versions</key>
	<array>
		<dict>
			<key>Version</key>
			<string>1.2.0</string>
			<key>ReleaseNotes</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Scan documents</string>
					<key>Subtitle</key>
					<string>Scan documents with iOS 13 with your camera and save it as PDF, JPEG or PNG direclty in your ownCloud account.</string>
					<key>Icon</key>
					<string>available-offline</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Multiple Window Support</string>
					<key>Subtitle</key>
					<string>Starting with iPadOS 13 you can have multiple windows. Open your ownCloud accounts side by side.</string>
					<key>Icon</key>
					<string>available-offline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Version</key>
			<string>1.1.0</string>
			<key>ReleaseNotes</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Multiple Window Support</string>
					<key>Subtitle</key>
					<string>Starting with iPadOS 13 you can have multiple windows. Open your ownCloud accounts side by side.</string>
					<key>Icon</key>
					<string>available-offline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Version</key>
			<string>1.0.2</string>
			<key>ReleaseNotes</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Scan documents</string>
					<key>Subtitle</key>
					<string>Scan documents with iOS 13 with your camera and save it as PDF, JPEG or PNG direclty in your ownCloud account.</string>
					<key>Icon</key>
					<string>available-offline</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
