<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OCKeychainAccessGroupIdentifier</key>
	<string>group.com.owncloud.ios-app</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>branding-action-extension-icon</string>
			</array>
		</dict>
	</dict>
	<key>OCHasFileProvider</key>
	<true/>
	<key>OCAppComponentIdentifier</key>
	<string>shareExtension</string>
	<key>CFBundleDisplayName</key>
	<string>Save to $(APP_PRODUCT_NAME)</string>
	<key>OCAppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>OCAppGroupIdentifier</key>
	<string>group.com.owncloud.ios-app</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
    extensionItems,
    $extensionItem,
    SUBQUERY (
        $extensionItem.attachments,
        $attachment,
        (
          ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.data&quot;
        )
    ).@count == $extensionItem.attachments.@count
).@count &gt; 0</string>
		</dict>
		<key>NSExtensionPrincipalClass</key>
		<string>ShareExtensionViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ui-services</string>
	</dict>
</dict>
</plist>
