<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Generic</key>
	<dict>
		<key>darkBrandColor</key>
		<string>057C2D</string>
		<key>lightBrandColor</key>
		<string>84BD96</string>
		<key>tintColor</key>
		<string>468cc8</string>
		<key>Label</key>
		<dict>
			<key>informativeColor</key>
			<string>555555</string>
			<key>successColor</key>
			<string>27ae60</string>
			<key>warningColor</key>
			<string>f2994a</string>
			<key>errorColor</key>
			<string>eb5757</string>
		</dict>
		<key>Fill</key>
		<dict>
			<key>approvalColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
			<key>neutralColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
			<key>destructiveColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>Favorite</key>
		<dict>
			<key>enabledColor</key>
			<string>ffcc00</string>
			<key>disabledColor</key>
			<string>7c7c7c</string>
		</dict>
		<key>darkBrandColors</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>labelColor</key>
			<string></string>
			<key>secondaryLabelColor</key>
			<string></string>
			<key>symbolColor</key>
			<string></string>
			<key>tintColor</key>
			<string></string>
			<key>darkBrandColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
			<key>lightBrandColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>lightBrandColors</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>labelColor</key>
			<string></string>
			<key>secondaryLabelColor</key>
			<string></string>
			<key>symbolColor</key>
			<string></string>
			<key>tintColor</key>
			<string></string>
			<key>darkBrandColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
			<key>lightBrandColors</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
				<key>disabled</key>
				<dict>
					<key>background</key>
					<string></string>
					<key>foreground</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Themes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Contrasts Branding Test</string>
			<key>Identifier</key>
			<string>com.owncloud.contrast.branding</string>
			<key>ThemeStyle</key>
			<string>contrast</string>
			<key>Colors</key>
			<dict>
				<key>Table</key>
				<dict>
					<key>tableBackgroundColor</key>
					<string>ffffff</string>
					<key>tableGroupBackgroundColor</key>
					<string>efeff4</string>
					<key>tableSeparatorColor</key>
					<string></string>
					<key>tableRowBorderColor</key>
					<string>000000</string>
					<key>tableRowColors</key>
					<dict>
						<key>backgroundColor</key>
						<string>ffffff</string>
						<key>labelColor</key>
						<string>000000</string>
						<key>secondaryLabelColor</key>
						<string>7f7f7f</string>
						<key>symbolColor</key>
						<string>1d293b</string>
						<key>tintColor</key>
						<string></string>
						<key>filledColorPairCollection</key>
						<dict>
							<key>normal</key>
							<dict>
								<key>background</key>
								<string>468cc8</string>
								<key>foreground</key>
								<string>ffffff</string>
							</dict>
							<key>highlighted</key>
							<dict>
								<key>background</key>
								<string>74a8d5</string>
								<key>foreground</key>
								<string>ffffff</string>
							</dict>
							<key>disabled</key>
							<dict>
								<key>background</key>
								<string>74a8d5</string>
								<key>foreground</key>
								<string>ffffff</string>
							</dict>
						</dict>
					</dict>
					<key>tableRowHighlightColors</key>
					<dict>
						<key>backgroundColor</key>
						<string></string>
						<key>labelColor</key>
						<string>000000</string>
						<key>secondaryLabelColor</key>
						<string>7f7f7f</string>
						<key>symbolColor</key>
						<string>1d293b</string>
						<key>tintColor</key>
						<string></string>
						<key>filledColorPairCollection</key>
						<dict>
							<key>normal</key>
							<dict>
								<key>background</key>
								<string>468cc8</string>
								<key>foreground</key>
								<string>ffffff</string>
							</dict>
							<key>highlighted</key>
							<dict>
								<key>background</key>
								<string>74a8d5</string>
								<key>foreground</key>
								<string>ffffff</string>
							</dict>
							<key>disabled</key>
							<dict>
								<key>background</key>
								<string>74a8d5</string>
								<key>foreground</key>
								<string>ffffff</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>Icon</key>
				<dict>
					<key>folderFillColor</key>
					<string>1d293b</string>
					<key>fileFillColor</key>
					<string>1d293b</string>
					<key>logoFillColor</key>
					<string>aaaaaa</string>
					<key>iconFillColor</key>
					<string>1d293b</string>
					<key>symbolFillColor</key>
					<string>1d293b</string>
				</dict>
				<key>Progress</key>
				<dict>
					<key>foreground</key>
					<string>468cc8</string>
					<key>background</key>
					<string>aaaaaa</string>
				</dict>
				<key>searchBarActivityIndicatorViewStyle</key>
				<string>white</string>
				<key>activityIndicatorViewStyle</key>
				<string>gray</string>
				<key>barStyle</key>
				<string>black</string>
				<key>statusBarStyle</key>
				<string>lightContent</string>
				<key>toolbarColors</key>
				<dict>
					<key>backgroundColor</key>
					<string>1d293b</string>
					<key>labelColor</key>
					<string>ffffff</string>
					<key>secondaryLabelColor</key>
					<string>aaaaaa</string>
					<key>symbolColor</key>
					<string>ffffff</string>
					<key>tintColor</key>
					<string>6ba3d3</string>
					<key>filledColorPairCollection</key>
					<dict>
						<key>normal</key>
						<dict>
							<key>background</key>
							<string>1d293b</string>
							<key>foreground</key>
							<string>ffffff</string>
						</dict>
						<key>highlighted</key>
						<dict>
							<key>background</key>
							<string>555e6c</string>
							<key>foreground</key>
							<string>ffffff</string>
						</dict>
						<key>disabled</key>
						<dict>
							<key>background</key>
							<string>555e6c</string>
							<key>foreground</key>
							<string>ffffff</string>
						</dict>
					</dict>
				</dict>
				<key>navigationBarColors</key>
				<dict>
					<key>backgroundColor</key>
					<string>1d293b</string>
					<key>labelColor</key>
					<string>ffffff</string>
					<key>secondaryLabelColor</key>
					<string>aaaaaa</string>
					<key>symbolColor</key>
					<string>ffffff</string>
					<key>tintColor</key>
					<string>6ba3d3</string>
					<key>filledColorPairCollection</key>
					<dict>
						<key>normal</key>
						<dict>
							<key>background</key>
							<string>1d293b</string>
							<key>foreground</key>
							<string>ffffff</string>
						</dict>
						<key>highlighted</key>
						<dict>
							<key>background</key>
							<string>555e6c</string>
							<key>foreground</key>
							<string>ffffff</string>
						</dict>
						<key>disabled</key>
						<dict>
							<key>background</key>
							<string>555e6c</string>
							<key>foreground</key>
							<string>ffffff</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
