{{- $config := .config }}
{{- $categoryTags := .config | jsonpath `$[*].categoryTag` | uniq | sort }}
{{- range $index, $categoryTag := $categoryTags }}
tag::{{$categoryTag | strings.ToLower }}[]
[cols="2,1,1,2a,1",options=header]
|=== 
|Key
|Type
|Default
|Description
|Status

{{$options := $config | jsonpath (print "$[?(@.categoryTag=='" $categoryTag "')]") }}
{{- if eq (printf "%T" $options) "map[string]interface {}"}}
{{- $options = coll.Slice $options }}
{{- end}}
{{- range $statusIndex, $status := coll.Slice "recommended" "supported" "advanced" "debugOnly" }}
{{- $statusOptions := $options | jsonpath (print "$[?(@.status=='" $status "')]")}}
{{- if eq (printf "%T" $statusOptions) "map[string]interface {}"}}
{{- $statusOptions = coll.Slice $statusOptions }}
{{- end}}
{{- range $optionIndex, $option := $statusOptions }}
|{{if has $option "subCategory"}}`{{$option.subCategory}}` +
{{end}}{{if ne $option.label $option.flatIdentifier}}**{{$option.label}}** +
 +
{{end}}{{$option.flatIdentifier}}
|{{- $option.type}}
|{{- if has $option "defaultValue"}}`{{$option.defaultValue}}`{{end}}
|{{- if has $option "description"}}{{$option.description}}{{end}}
{{- if has $option "possibleValues"}}
[cols="1,1"]
!===
! Value
! Description

{{- range $possibleValueIndex, $possibleValue := $option.possibleValues }}
! `{{ $possibleValue.value }}`
! {{ $possibleValue.description }}
{{end}}
!===
{{end}}
{{- if has $option "possibleKeys"}}
[cols="1,1"]
!===
! Key
! Value

{{- range $possibleKeyIndex, $possibleKey := $option.possibleKeys }}
! `{{ $possibleKey.value }}`
! {{ $possibleKey.description }}
{{end}}
!===
{{end}}
|{{- $option.status}}{{if ne $option.status "debugOnly"}} `candidate`{{end}}
{{end}}
{{- end}}
|===
end::{{$categoryTag | strings.ToLower }}[]

{{end}}
