name: Generate/Update SBOM
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
    - master
    - main
    - chore/*

permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest
    name: Generate/Update SBOM
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Xcode version
        run: /usr/bin/xcodebuild -version
      - name: Install cdxgen
        run: brew install cdxgen
      - name: Resolve packages for app
        run: xcodebuild -resolvePackageDependencies -project ownCloud.xcodeproj
      - name: Resolve packages for SDK
        run: xcodebuild -resolvePackageDependencies -project ownCloudSDK.xcodeproj
        working-directory: ./ios-sdk/
      - name: Build SBOM
        run: FETCH_LICENSE=true GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} cdxgen -o ./sbom.json -t swift .
      - name: Format JSON
        shell: bash
        run: |
          beautifyJSON() {
            jq . "$1" >"$1.tmp"
            mv "$1.tmp" "$1"
          }
          beautifyJSON "sbom.json"
      - name: Commit files
        uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          email: devops@owncloud.com
          name: ownClouders
          commit_message: SBOM updated
          files: sbom.json
