name: "Pull translations from Transifex"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  pull-translations:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOYMENT_SSH_KEY }}
          ref: "master"

      - name: l10n-pull
        uses: transifex/cli-action@v2
        with:
          token: ${{ secrets.TX_TOKEN }}
          args: pull --force --skip --all

      - name: l10n-format
        shell: bash
        run: |
          beautifyJSON() {
            jq . "$1" >"$1.tmp"
            mv "$1.tmp" "$1"
          }
          beautifyJSON "ownCloud Action Extension/InfoPlist.xcstrings"
          beautifyJSON "ownCloud File Provider/Localizable.xcstrings"
          beautifyJSON "ownCloud Share Extension/InfoPlist.xcstrings"
          beautifyJSON "ownCloud/Resources/InfoPlist.xcstrings"
          beautifyJSON "ownCloud/Resources/Localizable.xcstrings"
          beautifyJSON "ownCloudAppFramework/Resources/Localizable.xcstrings"

      - uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          email: devops@owncloud.com
          name: ownClouders
          commit_message: "[tx] updated translations from transifex"
